@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  background: #9fa2a7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[class*=__container] {
  padding-left: calc(15px + 25 * calc(100vw - (320px)) / 1120);
  padding-right: calc(15px + 25 * calc(100vw - (320px)) / 1120);
}

.main__container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
  background-color: #ff2222;
  padding: 10px 15px;
  border-radius: 50% 25%;
  box-shadow: 20px -8px 13px rgba(255, 34, 34, 0.6588235294), -16px 16px 15px 5px rgba(255, 34, 34, 0.6509803922), -1px -8px 12px rgba(255, 34, 34, 0.5490196078);
  margin-bottom: 55px;
}
.main__btn svg {
  color: white;
  max-width: 100%;
  max-height: 100%;
}

/* containers
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


@media(max-width: 1199.98px){
    [class*="__container"]{
        max-width: 970px;
    }
}

@media(max-width: 990.98px){
    [class*="__container"]{
        max-width: 750px;
    }
}

@media(max-width: 767.98px){
    [class*="__container"]{
        max-width: 650px;
    }
}*/
/* special text for fixing all */