//todo додати  елмент before до main щоб розділити нашу сторінку на дві частинки перша запис друга прослуховування його
//todo відповідно підібрати кольори і сам стиль менюшки + подумати над бкграундом для запису і всього застосунку
//todo adaptive size of elements on page like voice icon and other
@import "_mixin";
$mainColor: #6a6e77;
body {
    // enough pretty for this page on tha moment
}
.wrapper-record {
    background: #d47f7f;
}
.header {
    margin-bottom: 15px;
}
// shift + alt +a to comment code

.main {
    &__container {
    }

    &__title {
        margin-bottom: 55px;
    }
    &__record-box {
        width: 100%;
    }
}
.record-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 35px;
    @include adaptive-value(padding-left, 10, 40, $minWidth, $maxWidth);
    @include adaptive-value(padding-right, 10, 40, $minWidth, $maxWidth);
    &__record-btn {
        display: flex;
        position: relative;
        //filter: blur(1.5px);
        justify-content: center;
        align-items: center;

        width: 200px;
        height: 300px;
        //@include adaptive-value(width, 150, 200, $minWidth, $maxWidth);
        //@include adaptive-value(height, 225, 300, $minWidth, $maxWidth);
        background-color: #ff2222; // #ea6133   first variant(#ff2222)
        padding: 10px 15px;
        border-radius: 50% 25%;
        box-shadow:
            20px -8px 40px rgb(224 6 6 / 30%),
            -16px 16px 40px 5px rgb(174 0 0 / 42%),
            -1px -8px 40px rgba(255, 34, 34, 0.3449019608);
        margin-bottom: 55px;
        svg {
            position: relative;
            z-index: 100;
            filter: blur(0.5px);
            color: white;
            max-width: 100%;
            //width: 50px;
            max-height: 100%;
            transition: all 0.2s ease-in-out 0s;
        }
    }
    &__record-btn::after,
    &__record-btn::before {
        --pad: 0rem;
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        background-color: #ff222265;

        top: var(--pad);
        bottom: var(--pad);
        left: var(--pad);
        right: var(--pad);
        border-radius: 50% 25%;
    }
    &__record-btn::after {
        transition: all 0.4s ease-in-out 0s;
    }
    &__record-btn::before {
        transition: all 0.2s ease-in-out 0s;
    }

    // for hover
    &__record-btn:hover::before {
        --pad: -1rem;
    }
    &__record-btn:hover::after {
        --pad: -2rem;
    }
    // for animation
    &__record-btn.is-recording::after {
        animation: smoothPadAfter 0.5s alternate-reverse forwards infinite;
    }
    &__record-btn.is-recording::before {
        animation: smoothPadBefore 0.5s alternate-reverse forwards infinite;
    }
    &__record-btn.is-recording {
        svg {
            animation: smoothIcon 0.5s alternate-reverse forwards infinite;
            animation-timing-function: ease-in-out;
        }
    }

    &__playback {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        border-radius: 25px;
    }
    &__record-audio {
        // width: 350px;
        // height: 100px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.517);
        box-shadow: 0 4px 45px rgb(0 0 0 / 28%);
        padding: 30px 30px 10px 30px;
        padding-top: 25px;
        overflow: hidden;
        color: $mainColor;
        margin-bottom: 45px;
    }
}
.record-audio {
    &__slider {
        width: 100%;
        position: relative;
    }

    &__seek-bar {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 10px;
        background: #cf5656b5;
        cursor: pointer;
        overflow: hidden;
    }
    &__seek-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0px;
        height: 10px;
        border-radius: 50%;
        background: #281111;
        box-shadow: -400px 0 0 400px #d72222;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    &__time-block {
        display: flex;
    }
    &__current-time,
    &__duration-time,
    span {
        font-size: 18px;
        line-height: 36px;
    }
}
.record-controls {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    &__play-btn {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #6a6e77;
        background: #d47f7f;
        border: none;
        cursor: pointer;
        box-shadow:
            0 0 20px 5px rgba(0, 0, 0, 0.124),
            0 0 7px 5px rgba(0, 0, 0, 0.124),
            0 0 20px 5px rgba(0, 0, 0, 0.124),
            0 0 20px 8px rgba(0, 0, 0, 0.124); //todo need find some good examplr with work with shadows
        span {
            position: absolute;
            top: 50%;
            left: 31%;
            width: 5px;
            height: 20px;
            border-radius: 2px;
            background: #d72222;
            transition: 0.5s;
            transform: translateY(-50%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        span:nth-child(2) {
            left: 55%;
            transform-origin: center;
        }
    }
    &__play-btn.pause span:nth-child(2) {
        transform: translateY(-50%) scaleY(0);
    }
    &__play-btn.pause span:nth-child(1) {
        width: 35%;
        left: 53%;
        transform: translate(-50%, -50%);
        border-radius: 0;
        clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    }
}

.record-audio__volume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    img {
        max-width: 100%;
        width: 32px;
        //width: 32px;
    }

    .record-audio__volume-bar {
        min-width: 55px;
    }
}
@keyframes smoothPadAfter {
    0% {
        top: -2.5rem;
        bottom: -2.5rem;
        left: -2.5rem;
        right: -2.5rem;
    }
    100% {
        top: -1rem;
        bottom: -1rem;
        left: -1rem;
        right: -1rem;
    }
}

@keyframes smoothPadBefore {
    0% {
        top: -1.5rem;
        bottom: -1.5rem;
        left: -1.5rem;
        right: -1.5rem;
    }
    100% {
        top: -0.5rem;
        bottom: -0.5rem;
        left: -0.5rem;
        right: -0.5rem;
    }
}
@keyframes smoothIcon {
    0% {
        width: 100%;
    }
    100% {
        width: 85%;
    }
}

//^ for next updates
/*
btn volume for smart phones 
*need to make drop-out progress bar (in vertical)
*/
